<section class="flex flex-col gap-4 p-5 items-center w-full">
    <div class="bg-bg w-full p-3 flex items-center justify-center">
        <span class="text-text">Endereço</span>
    </div>

    <div class="flex flex-col gap-5">

            <p><strong>CEP:</strong> 00000-000</p>
            <p><strong>Rua:</strong> Rua das Maças</p>
            <p><strong>Número da Casa:</strong> 123</p>
            <p><strong>Complemento:</strong> Apartamento 101</p>
            <p><strong>Bairro:</strong> Vila das Frutas</p>
            <p><strong>Cidade:</strong> Praia da Comida</p>
            <p><strong>Estado:</strong> MG</p>
    </div>
</section>