{% load static %}

<section class="flex flex-col gap-4 p-5 items-center w-full">
  <div class="bg-bg w-full p-3 flex items-center justify-center">
    <span class="text-text">Informações Básicas</span>
  </div>

  <div class="flex gap-5">
    <img src="{% static 'assets/profile-tester.png' %}" alt="Foto de perfil" />

    <div>
      <p><strong>Nome:</strong> Fulano de tal</p>
      <p><strong>CPF:</strong> 000.000.000-00</p>
      <p><strong>Email:</strong> exemplo@email.com</p>
      <p><strong>Telefone:</strong> (11) 99999-9999</p>
      <p><strong>Idade:</strong> 25 Anos</p>
      <p><strong>Data de Nascimento:</strong> 01/01/2000</p>
    </div>
  </div>
</section>
