{% extends 'base.html' %}

{% block title %}USAFA - Entrar{% endblock %}

{% block content %}

    
    {% include 'components/titulo01.html'%} 

    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae voluptates reprehenderit vitae inventore iusto aperiam veniam similique, corrupti consequuntur, temporibus ullam animi qui perferendis, est eos sapiente nam officiis praesentium?</p>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae voluptates reprehenderit vitae inventore iusto aperiam veniam similique, corrupti consequuntur, temporibus ullam animi qui perferendis, est eos sapiente nam officiis praesentium?</p>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae voluptates reprehenderit vitae inventore iusto aperiam veniam similique, corrupti consequuntur, temporibus ullam animi qui perferendis, est eos sapiente nam officiis praesentium?</p>
    </div>
{% endblock %}
