{% extends 'base.html' %}

{% block title %}USAFA - Entrar{% endblock %}

{% block header %} 

<header class="flex justify-center items-center h-[10vh] bg-gray-100">
    <h1 class="text-2xl font-bold text-primary">USAFA</h1>
</header>

{% endblock %} 

{% block content %}

<main class="flex items-center justify-center min-h-[90vh] bg-gray-50">
    <!-- Contêiner principal -->
    <div class="w-full max-w-md p-5 bg-white shadow-lg rounded-lg border border-gray-200">
        <h2 class="text-lg font-semibold text-gray-800 text-center mb-5">Serviços Online</h2>

        <form action="" class="flex flex-col gap-4">
            <!-- Campos de entrada -->
            <input 
                type="text" 
                name="" 
                id="" 
                placeholder="CPF:" 
                class="border border-gray-300 rounded p-3 focus:outline-none focus:ring-2 focus:ring-primary"
            />
            <input 
                type="password" 
                name="" 
                id="" 
                placeholder="SENHA:" 
                class="border border-gray-300 rounded p-3 focus:outline-none focus:ring-2 focus:ring-primary"
            />

            <!-- Checkbox e botão -->
            <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">
                <!-- Checkbox -->
                <div class="flex items-center gap-2">
                    <input 
                      type="checkbox" 
                      id="stay-connected" 
                      class="w-4 h-4 text-primary border-gray-300 rounded focus:ring-primary"
                    />
                    <label 
                      for="stay-connected" 
                      class="text-gray-700 cursor-pointer hover:text-primary"
                    >
                      Mantenha-me conectado
                    </label>
                </div>

                <!-- Botão de entrar -->
                <button 
                    type="submit" 
                    class="bg-primary text-white font-semibold rounded p-3 w-full sm:w-auto hover:bg-primary-dark"
                >
                    Entrar
                </button>
            </div>
        </form>
    </div>
</main>

{% endblock %}
