<section class="w-1/4 bg-bg flex flex-col justify-between min-h-full">
  <div class="flex flex-col gap-4 p-5 items-center">
    <a href="{% url 'perfil_do_usuario' %}">Home</a>
    <a href="{% url 'cartao_virtual' %}">Cartão Virtual</a>
    <a href="{% url 'marcar_consulta' %}">Marcar Consulta</a>
    <a href="{% url 'endereco_das_usafas' %}">USAFA mais próxima</a>
  </div>

  <div class="flex flex-col gap-4 p-5 items-center">
    <a href="{% url 'configuracoes' %}">Configuração</a>
  </div>
</section>
