/* Estilo do container  */
.container {
    /* Bordas arredondadas */
    border-radius: 25px; 
    /* Borda com cor verde escura */
    border: var(--sds-size-stroke-border) solid #2B4819; 
    /* Fundo branco */
    background: #FFF; 
    /* Sombra para dar profundidade */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 

    /* Garantir que não ultrapasse 90% da largura da tela */
    max-width: 90%; 
    /* Largura fixa para telas maiores */
    width: 1026px; 
    /* Ajusta a altura conforme o conteúdo */
    height: auto; 
    /* Espaçamento interno */
    padding: 20px; 
    /* Centralizar o container */
    margin: 0 auto; 
    /* Contorno adicional (opcional) */
    outline: 1px solid #2B4819; /* Cor e espessura do contorno */
}

.tituloh1 { 
    margin: 53px 0 53px 0;
    color: #72BF44;
    font-family: "Inria Serif";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center; /* Adiciona centralização do texto */
}
