{% load static %}

<!-- Sessão Sobre -->
<section class="flex flex-col md:flex-row gap-4 items-center justify-center">
  <img
    src="{% static 'assets/logo-pg.png' %}"
    alt="logo da cidade de Praia Grande"
    class="object-cover max-w-96"
  />
  <p>
    Olá, eu sou a unidade de sauda da familia USAFA e aqui é a Gestão de
    Documentos das USAFAs de Praia Grande. Vim para transformar a forma como
    você lida com a administração de documentos. Nossa solução foi desenvolvida
    para simplificar os processos administrativos, eliminando a duplicação de
    cadastros e minimizando a perda de documentos importantes. Com um sistema
    centralizado e integrado, garantimos que os registros estejam sempre
    atualizados e acessíveis de forma rápida e precisa. Além de reduzir o
    retrabalho, o sistema proporciona mais segurança e confiabilidade no
    gerenciamento de informações sensíveis, protegendo os dados e agilizando os
    atendimentos. Com isso, a eficiência operacional é ampliada, permitindo que
    os funcionários se concentrem em prestar um atendimento mais ágil,
    humanizado e de alta qualidade para os cidadãos.
  </p>
</section>
